@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Work+Sans:wght@100;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

.header {
  height: 100vh;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  background-color: #f0ead2;
  padding: 1.2rem 5rem;
  height: 12%;
}

.logoContainer {
  width: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logoContainer img {
  width: 90px;
  object-fit: cover;
}

.navigation ul {
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.listItem {
  padding-left: 1.3rem;
}

.linkNav1 {
  color: #6c584c;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
}

.linkNav2 {
  color: #a98467;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
}

.linkNav3 {
  color: #adc178;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
}

.linkNav1:hover,
.linkNav2:hover,
.linkNav3:hover {
  color: rgb(24, 13, 12);
}

.mainContainer {
  background-image: url('../images/main.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 88%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.mainChild {
  padding-right: 1rem;
  padding-left: 1rem;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainChild h1 {
  color: #6c584c;
  text-align: center;
  margin-bottom: 1rem;
}

.mainText {
  font-size: 1.3rem;
  line-height: 1.3;
  font-weight: 500;
  color: #6c584c;
  text-align: center;
  margin-bottom: 1rem;
}

#cats {
  padding-bottom: 2rem;
  background-color: #f0ead2;
}

#cats h2 {
  color: #6c584c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  padding: 1rem;
}

.cardsGrandParent {
  height: 30rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.cardsParent {
  text-align: center;
  width: 80%;
  height: 30rem;
  display: flex;
  justify-content: space-between;
}

.card {
  background-color: #e6e7d6;
  width: 30%;
  height: 30rem;
  border: 1px solid #6c584c;
  border-radius: 5px;
  text-align: left;
}

.card img {
  width: 100%;
  height: 13rem;
  object-fit: cover;
}

.cardBody {
  color: #6c584c;
  height: 13rem;
  margin: 15px;
  overflow: auto;
}

.cardBody p {
  margin-top: 1rem;
  overflow: auto !important;
  word-wrap: break-word;
}

.pagination-buttons {
  margin-top: 20px;
}

#prev-button,
#next-button {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: #a98467;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#prev-button:hover,
#next-button:hover {
  background-color: #fff;
  color: #a98467;
}

.curiosities {
  display: flex;
  flex-direction: row;
  height: 45rem;
}

.curiositiesImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  border: none;
}

.curiositiesImage img {
  max-height: 100%;
  width: auto;
}

.curiositiesDescription {
  display: flex;
  flex-direction: column;
  width: 50%;
  border: none;
  background-color: #6c584c;
  padding: 1rem;
}

.curiositiesDescription h2 {
  color: #110d0a;
}

.curiositiesText {
  list-style-position: inside;
  padding-left: 0;
  color: #110d0a;
}

.curiositiesText li {
  margin: 10px 0;
  line-height: 1.5;
}

#location {
  background-color: #f0ead2;
  padding: 1rem;
}

#location h2,
p,
iframe {
  text-align: center;
  padding: 1rem;
  color: #6c584c;
}

.map-container {
  display: flex;
  justify-content: center;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0ead2;
  padding-bottom: 2rem;
}

#contact h2 {
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  padding: 1rem;
}

#contact h3 {
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.formContainer {
  background-color: #a98467;
  border-radius: 10px;
  padding: 1rem;
  color: #553725;
  width: 66%;
}

.theFormParent {
  display: flex;
  justify-content: center;
}

.theForm {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.theInputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.theInputs input {
  width: 24vw;
  padding: 0.7rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: 1px solid rgb(180, 180, 180);
  background-color: #f0ead2;
}

textarea {
  padding: 0.7rem;
  width: 50vw;
  margin-bottom: 0.5rem;
  border-radius: 4px;
  font-size: 1.8rem;
  max-width: 50vw;
  height: 20vh;
  border: 1px solid rgb(180, 180, 180);
  background-color: #f0ead2;
}

.formButton input {
  background-color: #f0ead2;
  color: #6c584c;
  margin: 1rem 0;
  padding: 1rem 0;
  width: 100%;
  font-size: 1.8rem;
  border-radius: 6px;
  border: 1px solid #6c584c;
}

.formButton input:hover {
  color: #f0ead2;
  background-color: #6c584c;
  cursor: pointer;
}

footer {
  background-color: #6c584c;
}

.footerNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 12rem;
}

.footerNav a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  max-width: 102px;
  text-align: center;
}

.footerNav a:hover {
  color: #2b2018;
}

.icon {
  color: rgb(50, 217, 81);
  font-size: 5rem;
  position: fixed;
  bottom: 15px;
  right: 15px;
}

.icon:hover {
  color: #2b2018;
}

@media screen and (max-width: 767px) {
  .header {
    height: fit-content;
  }

  .navContainer {
    flex-direction: column;
    height: initial;
    justify-content: center;
    align-items: center;
  }

  .logoContainer h2 {
    flex-shrink: 0;
  }

  .navigation .navList {
    flex-direction: column;
  }

  .listItem {
    margin: 0.5rem;
    padding: 0;
  }

  .mainContainer {
    justify-content: center;
    padding: 1rem;
  }

  .mainChild {
    padding-right: 0rem;
    width: 100%;
    height: 100%;
  }

  .mainText {
    font-size: 1rem;
    margin: 1rem 0;
  }

  .cardsGrandParent {
    height: initial;
  }

  .cardsParent {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }

  .card {
    width: 100%;
    height: 100%;
    margin: 0.5rem 0;
  }

  .curiosities {
    display: flex;
    flex-direction: column;
    height: initial;
  }

  .curiositiesImage {
    max-width: 100%;
    width: auto;
    height: 30rem;
  }

  .curiositiesImage img {
    max-width: 100%;
    width: auto;
    height: 30rem;
    object-fit: cover;
  }

  .curiositiesDescription {
    width: 100%;
  }

  .formContainer {
    width: 85%;
  }

  .theForm {
    width: 80vw;
  }

  .theInputs {
    flex-direction: column;
  }

  .theInputs input {
    width: 100%;
  }

  textarea {
    width: 100vw;
    max-width: 100%;
  }

  #form h3 {
    width: 80vw;
  }

  .formButton {
    display: flex;
    justify-content: center;
  }

  .footerNav {
    flex-direction: column;
    align-items: center;
  }

  .footerNav a {
    margin: 0.5rem;
  }

  .icon {
    font-size: 3rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .header {
    height: fit-content;
  }

  .mainChild {
    padding-right: 0rem;
    width: 100%;
    height: 100%;
  }

  .curiosities {
    display: flex;
    flex-direction: column;
    height: initial;
  }

  .curiositiesImage {
    max-width: 100%;
    width: auto;
    height: 30rem;
  }

  .curiositiesImage img {
    max-width: 100%;
    width: auto;
    height: 30rem;
    object-fit: cover;
    width: 100%;
  }

  .curiositiesDescription {
    width: 100%;
  }

  .formContainer {
    width: 85%;
  }

  .theForm {
    width: 80vw;
  }

  .theInputs input {
    width: 48%;
  }

  textarea {
    width: 100vw;
    max-width: 100%;
  }
}
